/* Farbpalette:
    #582259
    #f18df2 
    #031626
    #049dd9
    #05c7f2
    #ffffff
    */

:root{
  --color-lightViolet: #f18df2;
  --color-darkViolet: #582259;
  --color-black: #031626;
  --color-darkBlue: #049dd9;
  --color-lightBlue: #05c7f2;
  --color-background: #ffffff
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: var(--color-background);
  color: var(--color-darkViolet);
}

.navbar {
  background-color: var(--color-black);
  padding: 1rem 0;
}

.nav-container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--color-lightViolet);
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: var(--color-background);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: var(--color-lightViolet);
}

.nav-links a.active {
  color: var(--color-lightViolet);
  border-bottom: 2px solid var(--color-lightViolet);
  padding-bottom: 0.2rem;
}

.content {
  width: 90%;
  max-width: 1100px;
  margin: 3rem auto;
}

.content h1 {
  margin-bottom: 1rem;
}
