/* Farbpalette:
    #582259
    #f18df2 
    #031626
    #049dd9
    #05c7f2
    #ffffff
    */

:root{
  --color-lightViolet: #f18df2;
  --color-darkViolet: #582259;
  --color-black: #031626;
  --color-darkBlue: #049dd9;
  --color-lightBlue: #05c7f2;
  --color-background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: var(--color-background);
  color: var(--color-darkViolet);
}

.navbar {
  background-color: var(--color-black);
  padding: 1rem 0;
}

.nav-container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--color-lightViolet);
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: var(--color-background);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: var(--color-lightViolet);
}

.nav-links a.active {
  color: var(--color-lightViolet);
  border-bottom: 2px solid var(--color-lightViolet);
  padding-bottom: 0.2rem;
}

.content {
  width: 90%;
  max-width: 1100px;
  margin: 3rem auto;
}

.content h1 {
  margin-bottom: 1rem;
}

.products {
  width: 90%;
  max-width: 1200px;
  margin: 3rem auto;
  text-align: center;
}

.products h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.product-card {
  background-color: var(--color-darkViolet);
  border-radius: 12px;
  padding: 2rem;
  width: 30%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card h2 {
  margin-bottom: 1rem;
  color: var(--color-background);
}

.product-card p {
  margin-bottom: 1rem;
  color: var(--color-background);
}

.price {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.buy-btn {
  background-color: var(--color-darkBlue);
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.buy-btn:hover {
  background-color: var(--color-lightBlue);
}

#cart-count {
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 0.8rem;
  margin-left: 4px;
}

#clear-cart {
  background-color: var(--color-darkViolet); 
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  transition: background-color 0.2s;
}

#clear-cart:hover {
  background-color: var(--color-lightViolet);
}  
